<%= form_for(@post) do |f| %>
  <div class="form-inline block-center">
    <%= f.text_area :comment, placeholder: "コメントを入力",
                     class: "form-control col-10 mr-sm-2" %>
    <%= button_tag type: "submit", name: nil,
                   class: "btn my-2 my-sm-0 btn-info search-btn" do %>
        <i class="fas fa-comment"></i>
    <% end %>
  </div>
<% end %>
