<%= form_for(@post) do |f| %>
  <div class="form-inline mt-4">
    <%= f.text_area :comment, placeholder: "コメントする", class: "form-control col-4 mx-auto mr-sm-2" %>
    <%= button_tag type: "submit", name: nil, class: "btn  my-2 my-sm-0 btn-info search-btn" do %>
        <i class="fas fa-search"></i>
    <% end %>
  </div>
<% end %>
