/* universal */

html {
  line-height: 1.15;
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  font-family: -apple-system, "BlinkMacSystemFont", "Helvetica Neue", Helvetica, "Arial", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

section {
  overflow: auto;
}

/* typography */

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

a {
  color: #007bff;
  text-decoration: none;
  background-color: transparent;
}

a:hover {
  color: #0056b3;
  text-decoration: underline;
}

.flex-container {
  display: flex;
  justify-content: space-between;
}

/* pagenation */
.pagination>li>a {
  border: none;
}

/* header */

nav {
  img {
      border-radius: 50%;
      width:  30px;
      height: 30px;
  }
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid gray;
  small {
    float: center;
  }
}


/* home */

.jumbotron {
  background-image: image-url("borudaringwall.jpg");
  background-size: cover;
  background-position: center 60%;
  overflow: hidden;
  position: relative;
  height: 45vh;
}

.jumbotron-heading {
  color: white;
  font-weight: bold;
}

/* sign up */

.form-group {
  width: 100%;
  margin-bottom: 1em;
}

.form-layout {
  width: 100%;
  margin-bottom: 1em;
}

.form-line {
  border-bottom: 1px solid #eaeaea;
}

.twitter-btn {
  width: 100%;
  color: white;
  background-color: #55acee;
}



/* gym page */

.score {
  border: medium solid #ff8c00;
  border-radius: 10px;
  background-color: #ff8c00;
  color:  white;
  font-size: 2em;
}

.user_avatars {
  img {
      border-radius: 50%;
      width:  60px;
      height: 60px;
  }
}

.reviews {
  ul {
    padding-left: 1em;
    list-style:  none;
  }
  li {
    width: 100%;
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid gray;
    &:last-child {
      border-bottom: none;
    }
    p {
      margin-bottom: 0.5em;
    }
  }
  img {
    border-radius: 50%;
    width:  60px;
    height: 60px;
  }
}


/* commetes */

.comments {
  img {
    border-radius: 50%;
  }
  textarea {
    height: 2.5em;
  }
}

.user_info {
  background-color: white;
}

.timeline {
  .nav-link {
    color: #17a2b8;
  }
  .active {
    background-color: white;
  }
  .tab-content {
    background-color: white;
  }
}

.profile_item {
  border-bottom: 1px solid gray;
}


.post_items {
  ul {
    padding-left: 1em;
    list-style:  none;
  }
  li {
    width: 100%;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid gray;
    &:last-child {
      border-bottom: none;
    }
    p {
      margin-bottom: 0.5em;
    }
  }
}


.home_gyms {
  ul {
    padding-left: 1em;
    list-style:  none;
  }
  li {
    width: 100%;
    margin-top: 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid gray;
    &:last-child {
      border-bottom: none;
    }
  }
}
