<p>ご利用ありがとうございます。</p>

<p>お問い合わせいただいた、パスワードの再設定方法についてご案内します。</p>

<p>下記のURLにアクセスし、パスワードを再設定してください</p>
<p><%= link_to edit_password_url(@resource, reset_password_token: @token), edit_password_url(@resource, reset_password_token: @token) %></p>

<p>このメールに身に覚えがない場合、このメールは無視して下さい。</p>
